/* App.css */
*{
font-family: Georgia, 'Times New Roman', Times, serif;}.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.auth-container {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.auth-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.auth-form form {
  display: flex;
  flex-direction: column;
}

.auth-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.auth-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-form button {
  padding: 10px;
  background-color: #ee2e31;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
  margin:0 auto
}

.auth-form button:hover {
  background-color: #ee2e31;
}

.auth-form .toggle-link {
  color: #007bff;
  cursor: pointer;
}

.auth-form .toggle-link:hover {
  text-decoration: underline;
}
